.vscode/settings.json
/Libs/AceAddon-3.0/**
/Libs/AceComm-3.0/**
/Libs/AceConsole-3.0/**
/Libs/AceDB-3.0/**
/Libs/AceDBOptions-3.0/**
/Libs/AceEvent-3.0/**
/Libs/AceHook-3.0/**
/Libs/AceSerializer-3.0/**
/Libs/AceTimer-3.0/**
/Libs/CallbackHandler-1.0/**
/Libs/LibSharedMedia-3.0/**
/Libs/LibStub/**
.DS_Store
Modules/.DS_Store
