.vscode/settings.json
/Libs/LibStub/**
/Libs/CallbackHandler-1.0/**
/Libs/AceAddon-3.0/**
/Libs/AceConsole-3.0/**
/Libs/AceDB-3.0/**
/Libs/AceDBOptions-3.0/**
/Libs/AceEvent-3.0/**
/Libs/AceHook-3.0/**
/Libs/AceTimer-3.0/**
/Libs/LibDBIcon-1.0/**
/Libs/LibDBIcon-1.0/**
/Libs/LibDropDown/**
/Libs/LibEditMode/**
/Libs/LibEditModeOverride/**
/Libs/LibSharedMedia-3.0/**
/Libs/AceComm-3.0/**
/Libs/AceSerializer-3.0/**
.DS_Store
Modules/.DS_Store
