LibStub
CallbackHandler-1.0
AceAddon-3.0
AceConsole-3.0
AceDB-3.0
AceDBOptions-3.0
AceEvent-3.0
AceHook-3.0
AceTimer-3.0
LibDBIcon-1.0
LibDBIcon-1.0
LibDropDown
LibEditMode
LibEditModeOverride
LibSharedMedia-3.0